@model IEnumerable<Patient>
@{
    ViewData["Title"] = "Patient List -";
}
<style>
    div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item .page-link:hover {
        background-color: #33B5E5;
        color: white;
    }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link {
        background-color: #33B5E5;
    }

        div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
            background-color: #33B5E5;
        }
</style>

<div class="container border border-success p-3 mb-4">
    <div class="row">
        <div class="col-6 mt-3">
            <h3>Patient List</h3>
        </div>
        <div class="col-6 text-right text-white">
            <a asp-action="Create" asp-controller="Patient" class="btn btn-info p-3"><i class="fas fa-user-plus"></i> Create New Patient</a>
        </div>
    </div>
</div>



    @{
        if (Model != null)
        {
            <table id="patientTable" class="table table-striped table-bordered table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Of Birth</th>
                        <th>Gender</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.FirstName @item.LastName</td>
                            <td>@item.DateOfBirth.ToString("MM/dd/yyy")</td>
                            <td>@Enum.Parse(typeof(PatientScheduler.Models.Enums.Gender), @item.Gender)</td>
                            <td class="text-center" style="width: 23%;">
                                <form method="post" asp-action="PostDeletePatient" asp-route-id="@item.Id" name="DeleteForm">
                                    <a asp-action="PatientPage" asp-route-id="@item.Id" class="btn btn-sm btn-primary" style="font-size: .8rem;">Details</a>
                                    <button type="button" class="btn btn-sm btn-danger" style="font-size: .8rem;" name="DeleteBtn">Delete</button>
                                </form>

                            </td>
                        </tr>
                    }
            </table>
        }
    }



    @section Scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>

            $(document).ready(function () {
                $('#patientTable').DataTable({
                    "pagingType": "first_last_numbers"
                });
                $('.dataTables_length').addClass('bs-select');
            });



            var deleteBtns = document.getElementsByName("DeleteBtn");
            var deleteForms = document.getElementsByName("DeleteForm")
            var i;
            for (i = 0; deleteBtns.length; i++) {
                let cc = i;
                deleteBtns[i].addEventListener("click", () => {
                    event.preventDefault();
                    swal({
                        title: "Are you sure?",
                        text: "Once deleted, you will not be able to recover this patient.",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                console.log(i);
                                deleteForms[cc].submit();


                            } else {
                                swal.close();
                            }
                        });
                });

            }

        </script>


    }
