@model PatientAppointmentListVM


@{
    if (Model != null)
    {

        <div class="card">
            <div class="card-header text-white bg-primary">
                <div class="row">
                    <div class="col-6">
                        <h5 class="mt-3"><i class="far fa-id-card" style="font-size: 1.5rem;"></i> Patient Information</h5>
                    </div>
                    <div class="col-6 text-right">
                        <a asp-action="PatientList" class="btn btn-grey">Go to Patient List</a>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="row p-5">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-sm-3">
                        <div class="row">
                            <div class="col-lg-6">
                                <h5>Patient Profile</h5>
                            </div>
                            <div class="col-lg-6 pl-1">
                                <a asp-action="EditPatient" asp-route-id="@Model.Patient.Id" class="btn btn-sm btn-cyan mt-0" font-size: .7rem;">Edit</a>
                            </div>
                            <div class="col-6">
                                <p class="mb-1">Name</p>
                                <p class="mb-1">Gender</p>
                                <p class="mb-1">Date of Birth</p>
                                <p class="mb-1">Phone</p>
                            </div>
                            <div class="col-6">
                                <p class="mb-1">@Model.Patient.FirstName @Model.Patient.LastName</p>
                                <p class="mb-1">@Enum.Parse(typeof(PatientScheduler.Models.Enums.Gender), @Model.Patient.Gender)</p>
                                <p class="mb-1">@Model.Patient.DateOfBirth.ToString("MM/dd/yyy")</p>
                                <p class="mb-1">@Model.Patient.Phone</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        @{
                            if (Model.Patient.Insurance == null)
                            {
                                <h5>Insurance Information</h5>
                                <a asp-action="PatientInsurance" asp-route-id="@Model.Patient.Id" class="btn btn-success ml-0">Add Insurance Info</a>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5>Insurance Information</h5>
                                    </div>
                                    <div class="col-lg-6 pl-2">
                                        <form method="post" asp-action="PostDeletePatientInsurance" asp-route-id="@Model.Patient.Id" id="DeleteInsuranceForm">
                                            <a asp-action="EditPatientInsurance" asp-route-id="@Model.Patient.Id" class="btn btn-sm btn-cyan mt-0" style="font-size: .7rem;">Edit</a>
                                            <button type="button" class="btn btn-sm btn-danger mt-0" id="DeleteInsuranceBtn"><i class="far fa-trash-alt" style="font-size: .9rem;"></i></button>
                                        </form>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-1">Insurance Carrier</p>
                                        <p class="mb-1">Group Num/Member ID</p>
                                        <p class="mb-1">Phone</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-1">@Model.Patient.Insurance.Name</p>
                                        <p class="mb-1">@Model.Patient.Insurance.GroupNumber</p>
                                        <p class="mb-1">@Model.Patient.Insurance.Phone</p>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-right">
                        <form method="post" id="DeletePatientForm" asp-action="PostDeletePatient" asp-route-id="@Model.Patient.Id">
                            <button type="button" id="DeletePatientBtn" class="btn btn-danger"><i class="far fa-trash-alt" style="font-size: 1rem;"></i> Delete Patient</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-primary text-white">
                <div class="row">
                    <div class="col-6">
                        <h5 class="mt-3 mb-3"><i class="far fa-calendar-alt" style="font-size: 1.5rem;"></i> Appointments</h5>
                    </div>
                    <div class="col-6 text-right">
                        <a asp-action="SchedulePatientAppointment" asp-controller="Schedule" asp-route-id="@Model.Patient.Id" class="btn btn-grey">Add Appointment</a>
                    </div>

                </div>
            </div>
            <div class="card-body">
                @{
                    if (Model.Appointments.Count() <= 0)
                    {
                        <p class="pl-1">There are no appointments set for this patient.</p>
                    }
                    else
                    {

                        <div class="row">
                            <div class="col-2 pl-0">
                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                    <a class="nav-link active" id="v-pills-upcoming-tab" data-toggle="pill" href="#v-pills-upcoming" role="tab" aria-controls="v-pills-upcoming" aria-selected="true">Active</a>
                                    <a class="nav-link" id="v-pills-completed-tab" data-toggle="pill" href="#v-pills-completed" role="tab" aria-controls="v-pills-completed" aria-selected="false">Completed</a>
                                    <a class="nav-link" id="v-pills-cancelled-tab" data-toggle="pill" href="#v-pills-cancelled" role="tab" aria-controls="v-pills-cancelled" aria-selected="false">Cancelled</a>

                                </div>
                            </div>
                            <div class="col-10">
                                <div class="tab-content" id="v-pills-tabContent">
                                    <div class="tab-pane fade show active" id="v-pills-upcoming" role="tabpanel" aria-labelledby="v-pills-upcoming-tab">
                                        <div class="row">
                                            @if (@Model.Appointments.Count(a => a.Status == (int)PatientScheduler.Models.Enums.AppointmentStatus.Upcoming) > 0)
                                            {
                                                @foreach (var appointment in Model.Appointments)
                                                {
                                                    @if (appointment.Status == (int)PatientScheduler.Models.Enums.AppointmentStatus.Upcoming)
                                                    {


                                                        <div class="col-6 p-1">
                                                            <div class="card mb-2">
                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-lg-6 col-sm-12 ">
                                                                            <p class="mb-1">Date</p>
                                                                            <p class="mb-1">Start Time</p>
                                                                            <p class="mb-1">End Time</p>
                                                                            <p class="mb-1">Status</p>
                                                                        </div>
                                                                        <div class="col-lg-6 col-sm-12 pl-lg-2 pr-lg-0">
                                                                            <p class="mb-1">@appointment.StartTime.DayOfWeek @appointment.StartTime.ToString("MMMM dd, yyyy")</p>
                                                                            <p class="mb-1">@appointment.StartTime.ToString("hh:mm tt")</p>
                                                                            <p class="mb-1">@appointment.EndTime.ToString("hh:mm tt")</p>
                                                                            <p class="mb-1">@Enum.Parse(typeof(PatientScheduler.Models.Enums.AppointmentStatus), appointment.Status.ToString())</p>
                                                                        </div>
                                                                        <div class="col-lg-6 col-sm-12 pl-0">
                                                                            <form method="post" name="MarkAppointmentCancelledForm" asp-controller="Schedule" asp-action="PostChangeAppointmentStatus" asp-route-apptId="@appointment.Id" asp-route-patientId="@Model.Patient.Id" asp-route-status="@PatientScheduler.Models.Enums.AppointmentStatus.Cancelled">
                                                                                <button name="MarkAppointmentCancelledBtn" type="button" class="btn btn-md btn-grey w-100" style="font-size: .8rem;">Cancel</button>
                                                                            </form>
                                                                        </div>
                                                                        <div class="col-lg-6 col-sm-12 pl-0">
                                                                            @*<a class="btn btn-md btn-success w-100" style="font-size: .8rem;">Complete</a>*@
                                                                            <form method="post" name="MarkAppointmentCompleteForm" asp-controller="Schedule" asp-action="PostChangeAppointmentStatus" asp-route-apptId="@appointment.Id" asp-route-patientId="@Model.Patient.Id" asp-route-status="@PatientScheduler.Models.Enums.AppointmentStatus.Completed">
                                                                                <button name="MarkAppointmentCompleteBtn" type="button" class="btn btn-md btn-success w-100" style="font-size: .8rem;">Complete</button>
                                                                            </form>
                                                                        </div>
                                                                        <div class="col-lg-6 col-sm-12 pl-sm-0 offset-lg-6">
                                                                            <form method="post" name="DeleteAppointmentForm" asp-controller="Schedule" asp-action="PostDeleteAppointment" asp-route-apptId="@appointment.Id" asp-route-patientId="@Model.Patient.Id">
                                                                                <button name="DeleteAppointmentBtn" type="button" class="btn btn-md btn-danger w-100"><i class="far fa-trash-alt" style="font-size: 1.1rem;"></i></button>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <p>No Active Appointments to show here.</p>
                                            }

                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="v-pills-completed" role="tabpanel" aria-labelledby="v-pills-completed-tab">
                                        <div class="row">
                                            @if (@Model.Appointments.Count(a => a.Status == (int)PatientScheduler.Models.Enums.AppointmentStatus.Completed) > 0)
                                            {
                                                @foreach (var appointment in Model.Appointments)
                                                {
                                                    @if (appointment.Status == (int)PatientScheduler.Models.Enums.AppointmentStatus.Completed)
                                                    {
                                                        <div class="col-6 p-1">
                                                            <div class="card mb-2">
                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-lg-6 col-sm-12 ">
                                                                            <p class="mb-1">Date</p>
                                                                            <p class="mb-1">Start Time</p>
                                                                            <p class="mb-1">End Time</p>
                                                                            <p class="mb-1">Status</p>
                                                                        </div>
                                                                        <div class="col-lg-6 col-sm-12 pl-lg-2 pr-lg-0">
                                                                            <p class="mb-1">@appointment.StartTime.DayOfWeek @appointment.StartTime.ToString("MMMM dd, yyyy")</p>
                                                                            <p class="mb-1">@appointment.StartTime.ToString("hh:mm tt")</p>
                                                                            <p class="mb-1">@appointment.EndTime.ToString("hh:mm tt")</p>
                                                                            <p class="mb-1">@Enum.Parse(typeof(PatientScheduler.Models.Enums.AppointmentStatus), appointment.Status.ToString())</p>
                                                                        </div>
                                                                        <div class="col-lg-6 col-sm-12 pl-sm-0 offset-lg-6">
                                                                            <form method="post" name="DeleteAppointmentForm" asp-controller="Schedule" asp-action="PostDeleteAppointment" asp-route-apptId="@appointment.Id" asp-route-patientId="@Model.Patient.Id">
                                                                                <button type="button" name="DeleteAppointmentBtn" class="btn btn-md btn-danger w-100"><i class="far fa-trash-alt" style="font-size: 1.1rem;"></i></button>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <p>No Completed Appointments to show here.</p>
                                            }
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-cancelled" role="tabpanel" aria-labelledby="v-pills-cancelled-tab">
                                        <div class="row">
                                            @if (@Model.Appointments.Count(a => a.Status == (int)PatientScheduler.Models.Enums.AppointmentStatus.Cancelled) > 0)
                                            {
                                                @foreach (var appointment in Model.Appointments)
                                                {
                                                    @if (appointment.Status == (int)PatientScheduler.Models.Enums.AppointmentStatus.Cancelled)
                                                    {
                                                        <div class="col-6 p-1">
                                                            <div class="card mb-2">
                                                                <div class="card-body">
                                                                    <div class="row">
                                                                        <div class="col-lg-6 col-sm-12 ">
                                                                            <p class="mb-1">Date</p>
                                                                            <p class="mb-1">Start Time</p>
                                                                            <p class="mb-1">End Time</p>
                                                                            <p class="mb-1">Status</p>
                                                                        </div>
                                                                        <div class="col-lg-6 col-sm-12 pl-lg-2 pr-lg-0">
                                                                            <p class="mb-1">@appointment.StartTime.DayOfWeek @appointment.StartTime.ToString("MMMM dd, yyyy")</p>
                                                                            <p class="mb-1">@appointment.StartTime.ToString("hh:mm tt")</p>
                                                                            <p class="mb-1">@appointment.EndTime.ToString("hh:mm tt")</p>
                                                                            <p class="mb-1">@Enum.Parse(typeof(PatientScheduler.Models.Enums.AppointmentStatus), appointment.Status.ToString())</p>
                                                                        </div>
                                                                        <div class="col-lg-6 col-sm-12 pl-sm-0 offset-lg-6">
                                                                            <form method="post" name="DeleteAppointmentForm" asp-controller="Schedule" asp-action="PostDeleteAppointment" asp-route-apptId="@appointment.Id" asp-route-patientId="@Model.Patient.Id">
                                                                                <button type="button" name="DeleteAppointmentBtn" class="btn btn-md btn-danger w-100"><i class="far fa-trash-alt" style="font-size: 1.1rem;"></i></button>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <p>No Cancelled Appointments to show here.</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                    }
                }


            </div>
        </div>


    }
    else
    {
        <p>No records found.</p>
    }

}

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
